<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Side Navigation Bar</title>
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo_item">
            <i class="bx bx-menu" id="sidebarOpen"></i>
            @* <img src="~/images/logo.png" alt="Logo"> *@ PAW
        </div>
        <div class="search_bar">
            <input type="text" placeholder="Search" />
        </div>
        <div class="navbar_content">
            <i class="bx bx-grid"></i>
            <i class='bx bx-sun' id="darkLight"></i>
            <i class='bx bx-bell'></i>
            <img src="~/images/tomasito_Corazon.jpg" alt="Profile" class="profile" />
        </div>
    </nav>

    <!-- Sidebar -->
    <nav class="sidebar">
        <div class="menu_content">
            <ul class="menu_items">
                <li class="item">
                    <div class="nav_link submenu_item">
                        <span class="navlink_icon"><i class="bx bx-home-alt"></i></span>
                        <span class="navlink">Home</span>
                        <i class="bx bx-chevron-right arrow-left"></i>
                    </div>
                    <ul class="menu_items submenu">
                        <li><a href="#" class="nav_link sublink">Nav Sub Link</a></li>
                        <li><a href="#" class="nav_link sublink">Nav Sub Link</a></li>
                        <li><a href="#" class="nav_link sublink">Nav Sub Link</a></li>
                        <li><a href="#" class="nav_link sublink">Nav Sub Link</a></li>
                    </ul>
                </li>
                <li class="item">
                    <div class="nav_link submenu_item">
                        <span class="navlink_icon"><i class="bx bx-grid-alt"></i></span>
                        <span class="navlink">Overview</span>
                        <i class="bx bx-chevron-right arrow-left"></i>
                    </div>
                    <ul class="menu_items submenu">
                        <li><a href="#" class="nav_link sublink">Nav Sub Link</a></li>
                        <li><a href="#" class="nav_link sublink">Nav Sub Link</a></li>
                        <li><a href="#" class="nav_link sublink">Nav Sub Link</a></li>
                        <li><a href="#" class="nav_link sublink">Nav Sub Link</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="menu_items">
                <li class="item">
                    <a href="#" class="nav_link">
                        <span class="navlink_icon"><i class="bx bxs-magic-wand"></i></span>
                        <span class="navlink">Magic Build</span>
                    </a>
                </li>
                <li class="item">
                    <a href="#" class="nav_link">
                        <span class="navlink_icon"><i class="bx bx-loader-circle"></i></span>
                        <span class="navlink">Filters</span>
                    </a>
                </li>
                <li class="item">
                    <a href="#" class="nav_link">
                        <span class="navlink_icon"><i class="bx bx-cloud-upload"></i></span>
                        <span class="navlink">Upload New</span>
                    </a>
                </li>
            </ul>

            <ul class="menu_items">
                <li class="item">
                    <a href="#" class="nav_link">
                        <span class="navlink_icon"><i class="bx bx-flag"></i></span>
                        <span class="navlink">Notice Board</span>
                    </a>
                </li>
                <li class="item">
                    <a href="#" class="nav_link">
                        <span class="navlink_icon"><i class="bx bx-medal"></i></span>
                        <span class="navlink">Award</span>
                    </a>
                </li>
                <li class="item">
                    <a href="#" class="nav_link">
                        <span class="navlink_icon"><i class="bx bx-cog"></i></span>
                        <span class="navlink">Settings</span>
                    </a>
                </li>
            </ul>

            <div class="bottom_content">
                <div class="bottom expand_sidebar">
                    <span> Expand</span>
                    <i class='bx bx-log-in'></i>
                </div>
                <div class="bottom collapse_sidebar">
                    <span> Collapse</span>
                    <i class='bx bx-log-out'></i>
                </div>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="main-content">
        @RenderBody() <!-- Aquí se renderiza el contenido de la vista -->
    </div>

    <!-- JavaScript -->
    <script src="~/js/script.js"></script>
</body>
</html>